h2 {
  background-color: green !important;
}

/*\
Class has more important than element tag.
*/
.example h2 {
  background-color: red;
}

/*Id has more importance than class*/

#example {
  background-color: yellow;
}

/* id > class > element > global */
